.cal
{
    background-color: pink;
}
input[type=button] {
    font-family: 'Orbitron', sans-serif;
    background-color: #64278f;
    color: #000000;
    border: solid black 1px;
    width: 100%;
    border-radius: 200px;
    height: 110%;
    outline: red;

}

input:active[type=button] {
    background: #fffc0c;
    -webkit-box-shadow: inset 1px 1px 5px #c1c1c1;
    -moz-box-shadow: inset 1px 1px 5px #c1c1c1;
    box-shadow: inset 1px 1px 5px #c1c1c1;
}
